audioset-train-local
data/temp_audio
data/SAMPLESWAP
data/musdb18/*
data/spec_images
data/spec_images_instruments
notebooks/.ipynb_checkpoints
!data/musdb18/README.md
packages/__pycache__/
__pycache__/
spliced_video
uploaded_video
SS_new_classes